#
# namespace
#
apiVersion: v1
kind: Namespace
metadata:
  name: ${namespace}
---
#
# service account
#
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: external-dns
  name: external-dns
  namespace: ${namespace}
---
#
# permissions
#
apiVersion: ${rbac_version}
kind: ClusterRole
metadata:
  labels:
    app: external-dns
  name: external-dns
rules:
  - apiGroups:
      - ""
    resources:
      - endpoints
      - services
      - pods
    verbs:
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - list
      - watch
---
apiVersion: ${rbac_version}
kind: ClusterRoleBinding
metadata:
  labels:
    app: external-dns
  name: external-dns
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
  - kind: ServiceAccount
    name: external-dns
    namespace: ${namespace}
---
${secret}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: external-dns
  namespace: ${namespace}
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        #image: registry.opensource.zalan.do/teapot/external-dns:v0.4.8
        image: ${image}:${version}
        args:
        ${domain_filters}
        ${zone_filters}
        - --source=service
        - --source=ingress
        - --dns-ignore=*.${ingress}
        - --cidr-ignore=${nodes_cidr}
        - --provider=aws
        - --aws-zone-type=public # only look at public hosted zones (valid values are public, private or no value for both)
        - --registry=txt
        - --txt-owner-id=${cluster_name}-${cluster_type}
        - --txt-prefix=k8sdns-
        ${env}
